<h1>New product_master</h1>

<% form_for(@product_master) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :Product_Name %><br />
     <%= f.collection_select :product_id , Product.find(:all),:id,:product_name,{:prompt => 'All Product', :product_id => '0'}  %>
  </p>

  <p>
    <%= f.label :Quntity %><br />
    <%= f.text_field :Quntity %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :tax %><br />
    <%= f.text_field :tax %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', product_masters_path %>