<p>
  <b>Product Name:</b>
  <%=h @product_master.product.product_name%>
</p>


<p>
  <b>Quntity:</b>
  <%=h @product_master.Quntity %>
</p>

<p>
  <b>Price:</b>
  <%=h @product_master.price %>
</p>

<p>
  <b>Tax:</b>
  <%=h @product_master.tax %>
</p>

<p>
  <b>Date:</b>
  <%=h @product_master.date %>
</p>


<%= link_to 'Edit', edit_product_master_path(@product_master) %> |
<%= link_to 'Back', product_masters_path %>